* {
    margin: 0;
    padding: 0;
}

/*------------------头部导航栏部分-------------------------*/

.nav {
    width: 100%;
    position: absolute;
    background-color: rgba(250, 250, 250, 0.93);
}

.nav .head {
    width: 60%;
    height: 100px;
    margin: 0 auto;
}

.nav .head img {
    float: left;
    display: inline-block;
    margin-top: 30px;
    width: 100px;
    height: 40px;
}

.nav .head .des {
    float: left;
    margin-top: 35px;
    margin-left: 15px;
}

.nav .head a {
    text-decoration: none;
    font-size: 12px;
    color: gray;
}

.nav .head .right {
    margin-top: 35px;
    float: right;
}

.nav .head .right span {
    margin-left: 5px;
    margin-right: 5px;
    color: rgb(216, 216, 216);
}

.nav .qrCode {
    position: fixed;
    top: 35px;
    left: 25%;
    display: none;
    background-color: white;
    width: 207px;
    height: 260px;
    text-decoration: none;
}

.nav .qrCode img {
    display: block;
    width: 135px;
    height: 135px;
    margin: 0 auto;
    margin-top: 25px;
}

.nav .qrCode div {

    text-align: center;
    font-size: 12px;
    color: gray;
}

.nav .qrCode a {
    color: gray;
}

.nav .qrCode div:first-child {
    margin-top: 10px;
}

.nav .qrCode div:last-child {
    margin-top: 20px;
}

/*-----------------------------音乐播放部分--------------------------------*/
.playMusic {
    padding-top: 150px;
}

.playMusic div .control {

}

.playMusic .control a {
    display: block;
    width: 22px;
    height: 22px;
    margin: 0 auto;
    margin-top: 10px;
}

.playMusic div .play {
    background: url("images/play.png") no-repeat center/cover;
}

.playMusic div .play:hover {
    background: url("images/play_deep.png") no-repeat center/cover;
}

.playMusic div .pause {
    background: url("images/pause.png") no-repeat center/cover;
}

.playMusic div .pause:hover {
    background: url("images/pause_deep.png") no-repeat center/cover;
}

/*进度条*/
.progress {
    margin: 0 auto;
    width: 600px;
    height: 3px;
    overflow: hidden;
    background-color: rgb(196, 196, 196);
    cursor: pointer;
    top: 16px;
    left: 45px;
}

/*播放进度*/
.progress .line {
    width: 0;
    height: 100%;
    background-color: rgb(107, 189, 122);
    top: 0;
    left: 0;
}

.playMusic .time {
    width: 200px;
    margin: 0 auto;
    margin-top: 5px;
    text-align: center;
}

.playMusic .time span {
    font-size: 12px;
    color: gray;
}



